
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f1e8e8;
}

/*--- ENCABEZADO---------*/
header{
    flex-basis: 12vh;
    display: flex;
    justify-content: space-between;
    background: rgb(240, 180, 16);
    align-items: center;
    }

.logo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;  
   }
   .logo img{
    width: 265px;
}  

.logo2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo2 a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#140881;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.4s;
}
.logo2 a:hover{
    color: #faf5f6;
}
.barraTareas h2{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
    padding-left: 5%;
    text-align: center;
    font-size: 2rem;
}



/*-------lista------------*/
.menu{
    display: flex;
    align-items: center;
    font-family: pompiere, sans-serif;
    font-size: 1rem;
    list-style: none;
    padding-right: 1vh;
}
.menu li{
    padding-left: 1rem;
}
.menu a{
    text-decoration: none;
    transition: color 0.4s;
}
.menu a:hover{
    color: #faf5f6;
}
/*--- ENCABEZADO---------*/


/*--------------MAIN--------------*/
main{
    flex-basis: 78vh;
    display: flex;
    }

/*-------------FOOTER-------------*/
footer{
    flex-basis: 8vh;
    padding-left: 2vh;
    }


